fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.34
psycopg2-binary==2.9.9
alembic==1.13.1
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic[email]==2.9.2
python-multipart==0.0.9
redis==5.0.8
pinecone==3.0.0
langchain==0.3.7
langchain-core==0.3.25
langchain-community==0.3.7
langchain-google-genai==2.0.0
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.5
langchain-experimental==0.1.0
sentence-transformers==3.1.1
huggingface-hub==0.24.7
aiosmtplib==3.0.2
python-dotenv==1.0.1