fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
python-multipart
pypdf
redis
pinecone
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-experimental
sentence-transformers
huggingface-hub
aiosmtplib
python-dotenv